<div class="row">
  <div class="col-md-11">
    <h4 class="text-center" style="padding-top: 10%;">Register</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-11">
    <p *ngIf="errorMessage" class="text-danger text-center">{{errorMessage}}</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               id="name"
               placeholder="username"
               formControlName="name">
      </div>

      <div class="mb-3">
        <label for="mail">E-Mail</label>
        <input type="mail"
               class="form-control"
               id="mail"
               placeholder="email"
               formControlName="mail">
      </div>

      <div class="mb-3">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               placeholder="password"
               formControlName="password">
      </div>

      <div class="mb-3">
        <label for="rePassword">Repeat password</label>
        <input type="password"
               class="form-control"
               id="rePassword"
               placeholder="password"
               formControlName="rePassword">
      </div>

      <div class="mb-3">
        <button type="submit" class="btn" style="background-color: aquamarine;">Sign Up</button>
      </div>
    </form>
  </div>
</div>